<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.grybkov.alfred-ynab</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0199A0DB-DC5D-4C98-9B6B-DE19AB33981E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy value to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DFD0D25-BAC9-4A01-8118-D339EB980A14</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open YNAB in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Illia Grybkov</string>
	<key>description</key>
	<string>Alfred workflow to check YNAB balances</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YNAB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>args="$1"

./run.sh clipboard "$args"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0199A0DB-DC5D-4C98-9B6B-DE19AB33981E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>query="{query}"

./run.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>args="$1"

./run.sh browse "$args"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DFD0D25-BAC9-4A01-8118-D339EB980A14</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># YNAB Alfred Workflow

This Alfred workflow is designed to help you quickly check your YNAB (You Need A Budget) budget.

## Features

- Quick check for uncategorized or unapproved transactions.
- Supports search. Just keep typing to filter the results, with or without a space.
- Check for category balances.
- Check for account balances.
- Press `Enter` to copy the selected balance to the clipboard.
- Press `Cmd + Enter` to open the selected account or a whole budget in YNAB.

## Installation

1. Download the latest release of the workflow.
2. Double-click the downloaded `.alfredworkflow` file to install it.

## Usage

Invoke Alfred and type `yn`.

## Makefile targets

For list of available targets, run `make help`.

## Contributing

Pull requests are welcome. For major changes, please open an issue first to discuss what you would like to change.

## License

This project is licensed under the MIT License - see the `LICENSE` file for details.
</string>
	<key>uidata</key>
	<dict>
		<key>0199A0DB-DC5D-4C98-9B6B-DE19AB33981E</key>
		<dict>
			<key>note</key>
			<string>Copy to clipboard</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>8DFD0D25-BAC9-4A01-8118-D339EB980A14</key>
		<dict>
			<key>note</key>
			<string>Open in browser</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>token</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>User Access Token for the YNAB</string>
			<key>label</key>
			<string>YNAB Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>YNAB_ACCESS_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>UUID</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>UUID of the budget</string>
			<key>label</key>
			<string>YNAB Budget</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>YNAB_BUDGET</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Time that we keep cache between refreshes</string>
			<key>label</key>
			<string>Cache lifetime (in minutes)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CACHE_TTL</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/igrybkov/alfred-ynab</string>
</dict>
</plist>
